.btn {
  display: inline-block;
  text-decoration: none;
  padding: .375rem .75rem;
  border: 1px solid transparent;
  background-color: $primary-color;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  user-select: none;
}
